

<div class="container">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <h1 class="text-center " style="color: blue;">Nouveau Produit</h1>
  <div class="panel panel-default">
  <div class="panel-body" *ngIf="mode==1" >
  <form  (ngSubmit)="onAddArticle(f.value)" #f="ngForm">
  <div class="form-group">
  <label class="control-label">libelle</label>
  <input class="form-control" type="text" name="libelle"  ngModel>
   </div>
   <div class="form-group">
    <label class="control-label">Marque</label>
    <input class="form-control" type="text" name="marque"  ngModel>
     </div>
   <div class="form-group">
  <label class="control-label">Prx</label>
  <input class="form-control" type="text" name="price"  ngModel>
   </div>
   <div class="form-group"  >
    <label class="control-label">Quantite</label>
    <input class="form-control" type="number" name="quantite"  ngModel>
     </div>
     <div class="form-group">
       <mat-select placeholder="Categorie" [(ngModel)]="categorie" name="item">
         <mat-option *ngFor="let item of categories" [value]="item.nom">
           {{item.nom}}
         </mat-option>
       </mat-select>
     </div>
     <div class="form-group">
      <mat-select placeholder="Sous Categorie" [(ngModel)]="categorie" name="item">
        <mat-option *ngFor="let item of scategories" [value]="item.nom">
          {{item.nom}}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-group">
      <label class="control-label" for="my-textarea">Description</label>
      <textarea id="my-textarea" class="form-control" name="description" rows="3" ngModel>
      </textarea>
    </div>
   <button class="btn btn-success" value="submit" type="submit">Save</button>
  </form>
  </div>
  </div>
  </div>
  </div>