

<div class ="container">
  <H1>Ajouter un Boutique</H1>
  <form  [formGroup]="boutiqueForm" (ngSubmit)="onSubmit()">
    <br>
    <label style="padding-right: 10px"> Id </label>
    <input  type="text" formControlName="id" placeholder="">
    <br>
    <br>
  <br>
  <label style="padding-right: 10px"> Description </label>
  <input  type="text" formControlName="desc" placeholder="">
  <br>
  <label style="padding-right: 10px"> Telephone </label>
  <input type="text" formControlName="phone" placeholder="">
  <br>
  <label style="padding-right: 10px"> Adresse </label>
  <input type="text" formControlName="adress" placeholder="">
  <br>
  <label style="padding-right: 10px"> Email </label>
  <input type="text" formControlName="email" placeholder="">
  <br>
  <button type="button" [disabled]="boutiqueForm.valid" class="btn btn-success"   style="margin-right: 10px">Ajouter </button>
</form>
<br>

</div>
