<div class="container">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <h1 class="text-center " style="color: blue;">Ajouter Boutique</h1>
  <div class="panel panel-default">
  <div class="panel-body" >
  <form  (ngSubmit)="onAddBoutique()" #f="ngForm">
   <div class="form-group">
    <label class="control-label">email</label>
    <input class="form-control" type="text" name="phone"  [(ngModel)]="boutique.desc">
     </div>
   <div class="form-group">
  <label class="control-label">Telephone</label>
  <input class="form-control" type="text" name="price"  [(ngModel)]="boutique.phone">
   </div>
   <div class="form-group"  >
    <label class="control-label">Adresse</label>
    <input class="form-control" type="Text" name="adresse"  [(ngModel)]="boutique.adress">
     </div>
     <div class="form-group">
      <label class="control-label" for="my-textarea">Description</label>
      <textarea id="my-textarea" class="form-control" name="description" rows="3" [(ngModel)]="boutique.email">
      </textarea>
    </div>
   <button class="btn btn-success" value="submit" type="submit">Ajouter</button>
  </form>
  </div>
  </div>
  </div>
