<form>
  <p>Toutes les catégories</p>

  <p>
    Catégorie : Ordinateurs <br />
  </p>

  <p>
    Sous-catégories :<br />
    <select name="Sous-catégorie">
      <option value="pcBur">PC Bureau</option>
      <option value="pcPor">PC Portbale</option>
      <option value="access" selected="selected">Accessoires</option>
    </select>
  </p>

  <p>
    Catégorie : Telephones<br />
  </p>

  <p>
    Sous-catégories :<br />
    <select name="Sous-catégorie">
      <option value="SmartPH">SmartPhone</option>
      <option value="telFix">Telephone Fix</option>
      <option value="access" selected="selected">Accessoires</option>
    </select>
  </p>

  <p>
    Catégorie : Stockage<br />
  </p>

  <p>
    Sous-catégories :<br />
    <select name="Sous-catégorie">
      <option value="DisDur">Disque Dur</option>
      <option value="CleUsb">Clé USB</option>
      <option value="access" selected="selected">Accessoires</option>
    </select>
  </p>


  <p>
    <input type="submit" value="Valider" />
    <input type="reset" value="Annuler" />
  </p>
</form>
