<label>Liste des Categories </label>
<br>
{{categories | json}}
<br>
<br>
<label>Liste des sous Categories </label>
<br>
{{subCategories | json}}


<form>
  <label>Liste des Categories </label>
  <p>
    <label style="padding-right: 10px"> Catégorie "Ordinateurs"</label>
  </p>

  <p>
    <label style="padding-right: 10px"> Sous-catégories </label>
    <select name="Sous-catégorie">
      <option value="pcBur">PC Bureau</option>
      <option value="pcPor">PC Portbale</option>
      <option value="access" selected="selected">Accessoires</option>
    </select>
  </p>

  <p>
    <label style="padding-right: 10px"> Catégorie "Telephones"</label>
  </p>

  <p>
    <label style="padding-right: 10px"> Sous-catégories</label>
    <select name="Sous-catégorie">
      <option value="SmartPH">SmartPhone</option>
      <option value="telFix">Telephone Fix</option>
      <option value="access" selected="selected">Accessoires</option>
    </select>
  </p>

  <p>
    <label style="padding-right: 10px"> Catégorie "Stockage"</label>
  </p>

  <p>
    <label style="padding-right: 10px"> Sous-catégories</label>
    <select name="Sous-catégorie">
      <option value="DisDur">Disque Dur</option>
      <option value="CleUsb">Clé USB</option>
      <option value="access" selected="selected">Accessoires</option>
    </select>
  </p>


  <p>
    <input  class="btn btn-info" type="reset" value="Annuler" />
  </p>
</form>
