<div class="container background">

<div class="row ">
  <div class="offset-3 col-6 align-self-center" >
    <div class="card card-block h-100 ">
      <div class="card-header">
        <p class="text-center">Bienvenue sur High Tech !</p>
      </div>
      <div class="card-body">
        <form #f="">
            <div class="col-md-8 mb-3">
              <label for="validationServer01">Email</label>
              <input type="email" class="form-control" id="validationServer01" name="email"  required>
              <div ngClass="invalid-feedback">
                Email non valide
              </div>
            </div>
            <div class="col-md-8 mb-3">
              <label for="validationServer02">Mot de passe</label>
              <input type="password" class="form-control" id="validationServer02" required>
              <div ngClass="invalid-feedback">
                     Mot de passe incorrect
              </div>
              <a routerLink="#"> vous avez oublié votre mot de passe?</a>
            </div>
        </form>
       <div class="text-center"><a class="btn btn-primary " routerLink="" routerLinkActive>Se connecter</a></div><br>

        <small>Pas de compte ?<a class="title"> S'inscrire</a></small>
      </div>

    </div>
  </div>
</div>
</div>
