<br>
<div class="container background">
<div class="row ">
  <div class="offset-3 col-6 " >
    <div class="card card-block h-100 ">
      <div class="card-header" style="background-color: aqua;">
        <p class="text-center" style="color: blue;">Veuillez vous connecter !</p>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
          <div class="col-md-8 mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Enter votre email</mat-label>
              <input type="email"  matInput  [(ngModel)]="client.email" #email="ngModel" name="email"
              [ngClass]="{'is-invalid': f.submitted && email.invalid}"
              required email class="form-control">
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="email.errors?.required">saisissez votre Email </mat-error>
              <mat-error *ngIf="email.errors?.email">Email non valide </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-8 mb-2">
            <mat-form-field appearance="fill">
              <mat-label>votre mot de passe</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="client.password" #password="ngModel" name="password" required>
              <mat-hint><a routerLink="#">vous avez oublié votre mot de passe?</a></mat-hint>
              <mat-error *ngIf="password.errors?.length<8">doi</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" required [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

              <br><div class="text-center"><button [disabled]="f.invalid" type="submit" class="btn btn-primary " >Se connecter</button></div><br>
        </form>
        <small>Pas de compte ?</small><a class="title">Creer un compte</a>
      </div>
    </div>
  </div>
</div>
</div>
