<div class="row">
  <form class="form-inline offset-5 my-2 my-lg-0" #f="ngForm" (ngSubmit)="  getAllArticle()">
  <input class="form-control mr-sm-2" type="search" [(ngModel)]="keySearch" [ngModelOptions]="{standalone: true}" keySearch="ngModel" placeholder="rechercher par marque" aria-label="Search">
  <button *ngIf="f.submitted"  class="btn btn-outline-success my-2 my-sm-0" type="submit">Recharger</button>
  <button *ngIf="!f.submitted"  class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
</form>
</div>
<br>

<div [ngClass]="{'row':showCart===true}">
<div class="row row-cols-1" [ngClass]="{'col-md-9' :showCart===true,'row-cols-md-4':showCart===true,'row-cols-md-5':showCart===false}">
  <div class=" col md-2 col mb-2" *ngFor="let article of articles" >
    <div class="card h-100">
    <img src={{article.photo}} class="card-img" alt="alt">
      <div class="card-body">
        <h3 class="card-title">{{article.libelle}}</h3>
        <p class="card-text">{{article.description}}</p>
        <button (click)="articleDetails(article.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
      </div>
         <div class="card-footer">
          <button mat-mini-fab color="accent" [disabled]="disbledSelected(article)"
          [matBadgeHidden]="!disbledSelected(article)" matBadgeOverlap="true" matBadgeColor="primary" [matBadge]="'+'" (click)="addCart(article)" aria-label=" plus one icon">
          <mat-icon>add_shopping_cart</mat-icon>+
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3 "  *ngIf="showCart" >
  <div class=" col md-2 col mb-1"  >
    <div class="card h-100">
      <div class="card-header ">
       <mat-icon>add_shopping_cart</mat-icon><p class="card-title">votre panier: {{nbCart}} produits</p>
      </div>
      <div class="card-body">
        <div class="row" *ngFor="let article of selectProducts" >
          <div class="col-md-5">{{article.libelle}}</div>
          <div class="offset-3 " >
            <p class="card-title">{{article.prix}} £</p>
            <button mat-button (click)="removeSelected(article)" ><mat-icon>delete</mat-icon></button></div>
         </div>
        <div class="row" style="background-color:white;">
          <button mat-fab color="accent"  aria-label=" plus one icon">
            Total:
          </button>
          <div class="offset-3" > <button mat-fab color="accent"><p style="text-align: right;" class=" offset-6 carousel">{{prixTotal}} £</p></button></div>
        </div>
      </div>
         <div class="card-footer text-center">

          <button mat-button color="accent" routerLink="/login">Commander</button>
       </div>
      </div>
    </div>
  </div>
</div>

