<!-- <button (click)="clique()"> Click me! </button>
<h2>event</h2>
<input type="text" class="form-control" class="col-xd-2"
(input)="onchoicate($event)"> vous avez tape {{nomcategorie}}



<h2> Binding Bidirectionnel [(ngModel)]</h2>
<p>Cet input utilise ngModel:
<input class="form-control" type="text" class="col-xd-2"
[(ngModel)]="nombreArticles" />{{nombreArticles}}
</p>

<div [class.my-class-couleur]="isColorChanged">
  Changez la couleur
  en cliquant sur le bouton.

  <button class="btn btn-warning"
  (click) ="isColorChanged = !isColorChanged;">
  Modifier la Couleur </button>
</div>
<h1>NgFor</h1>
<h2>la liste des articles </h2>
<div *ngFor="let article of articles">
  <p>{{article.nom}}</p>
</div>

<h2>Ng Style</h2>
<li></li>
<div [ngStyle]="{color:'blue'}">choix de style</div> -->

<li>Libellé Article:<ng-content></ng-content></li>

